html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    background-color: white;
    padding: 15px;
}

.profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;  
}

.info {
    text-align: left;
}

.profile img {
    margin-right: 20px; 
}

nav {  
    text-align: center;
    margin: 10px;
    padding: 5px 0;
}

nav a {
    margin: 5px 10px;
    text-decoration: none;
    color: blue;
    padding: 10px;
}

nav a:hover {
    color: red;
}

section {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.future-goal{
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: lightgrey;
}

tr:hover {
    background-color: #cce5ff;
}

.back-to-home {
    text-align: center; 
}

@media screen and (max-width: 600px) {
    table {
        font-size: 12px;
    }
    nav a {
        font-size: 14px;
        padding: 8px;
    }
}

footer {
    text-align: center;
    background-color: white;
    padding: 10px;
}